@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic:wght@400;700&family=Nanum+Myeongjo:wght@400;700&family=Noto+Sans+KR:wght@100;400;500;700&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	-webkit-touch-callout: none; 
	user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
	-webkit-user-select: none;

}
h1,h2,h3,h4,h5,p {
    rotate: (0.03deg);
}

body {
	line-height: 1;
 	padding: 0;
  	margin: 0;
    background-color: darkgray;
}

button{
    cursor: pointer;
    background-color: none;
    border: none;
}

div, button, span, input, textarea, a, nav, article, section, form, table, tr, td, th{
    box-sizing: border-box;
}

span{
    display: inline;
}




.bg-c{
    background-color: rgb(20, 20, 20);
}

.font-my{
    font-family: 'Nanum Myeongjo', serif;
}

.main-color{color:rgb(235, 217, 193);}

a{
    text-decoration-line: none;
    text-decoration: none;
    cursor: pointer;
    color: white;
}

a:hover{
    color: rgb(235, 217, 193);
}

/* ���� ĳ���� */

.main-carousel{
    padding: 0;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.main-carousel-div{
    width: 9600PX;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    transition: 0.5s all;
}

.main-carousel-content{
    width: 100%;
    max-width: 1920px;
    height: 420px;
    position: relative;
    cursor: pointer;
}

.main-carousel-content img{
    width: 90%;
    object-fit: cover;
    transform: translate(-5%,-35%);
    z-index: 0;
    opacity: 0.9;
    
}

.carousel-button{
    position: absolute;
    background-color:transparent;
    color: #eee;
    font-size: 35px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
    z-index: 7;
}

.carousel-button:hover{
    opacity: 0.7;
}

.bt-left{
    left: 50px;
}

.bt-right{
    right: 50px;
}

.main-carousel-text{
    width: 30%;
    height: 100px;
    position: absolute;
    left: 14%;
    top: 52%;
    transform: translateY(-50%);
    color: white;
    z-index: 1;
}

.main-carousel-text h2{
    font-weight: 700;
    margin: 5px 0;
    font-size: 35px;
    line-height: 110%;
}

.main-carousel-text p{
    margin: 10px 0;
    font-weight: lighter;
}

/* ���� ĳ���� �� */

/* --------------------------------------- */


.c-bt-left{
    float: left;
    left: -100px;
}

.c-bt-right{
    right: -100px;
}

/* �޴� ��õ ĳ���� */
.carousel-title{
    display: flex;
    align-items: center;
    margin: 20px 0;
    padding: 10px 0;
    border-bottom: 1px solid rgb(85, 85, 85);
}

.carousel-title h2{
    font-weight: 700;
}

.rec-carousel-div{
    width: 100%;
    position: relative;
}

.rec-carousel-button{
    z-index: 7;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #eee;
    padding: 13px 17px;
    align-items: center;
}

.rec-carousel-button:hover{
    background-color:rgb(165, 137, 100) ;
}

.rec-carousel-button i{
    font-size: 20px;
}

.rec-carousel-div{
    width: 100%;
}

.rec-carousel-box{
    overflow: hidden;
    width: 100%;
}

.rec-carousel-ul{
    width: 2300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    transition: 0.3s all;
    height: 380px;
    position: relative;
}

.rec-carousel-content-box{
    height: 375px;
    width: 100%;
}

.rec-carousel-content{
    margin: 0 auto;
    box-sizing: border-box;
    height: 360px;
    position: relative;
    transition: 0.2s all;
    width: 90%;
    background-size:auto 100%; 
    background-position:center;
    cursor:pointer;
}

.rec-carousel-content:hover{
    height: 375px;
    width: 95%;
    
    box-shadow: 1px 2px 1px 1px rgba(87, 87, 87, 0.2);
}


.rcc-content{
    position: absolute;
    bottom: 0;
    background-color:transparent;
}

.rcc-content h4, .rcc-content p{
    margin: 15px 20px;
    background-color:transparent;
}

.rec-carousel-content img{
    height: 100%;
}

/* �޴� ��õ ĳ���� �� */

/* ------------------------------------------- */

/* ����Ʈ���� */

.best-title{
    position: relative;
}

.best-tag{
    position: absolute;
    right: 0;
    display: flex;
}

.best-tag div{
    margin-left: 20px;
    cursor: pointer;
}

.best-tag div:hover{
    opacity: 0.7;
}

.best-tag span{
    font-size: 10px;
    position: relative;
    top: 23px;
    left: -35px;
}

.tag-check{
    font-weight: 700;
    opacity: 1;
    color: rgb(216, 190, 157);
}

.best-box{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    padding: 0 10px;
}

.best-content{
    height: 120px;
    padding: 15px 0;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 15px;
    border-bottom: 1px solid rgb(85, 85, 85);
}

.best-img{
    width: 100%;
    overflow: hidden;
}

.best-img img{
    width: 160%;
    object-fit: cover;
    left: -100px;
}

.best-text{
    position: relative;
}

.best-text h5{
    text-overflow:ellipsis;
    margin-bottom: 5px;
}

.best-price{
    position: absolute;
    bottom: 0;
}

.best-content:hover .best-img, .best-content:hover .best-text{
    opacity: 0.7;
    color:rgb(235, 217, 193);
}

.best-off{
    display: none;
}
/* ����Ʈ���� �� */

/* -------------------------------------- */

/* �α��� */

.login{
    padding: 50px 0;
}

.login-box{
    width: 23%;
    min-width: 264.5px;
    margin: 0 auto;
    padding: 30px 0;
    border: 1px solid rgb(78, 78, 78);
}

.login-title{
    width: 100%;
    text-align: center;
    padding-bottom: 25px;
    border-bottom: 1px solid rgb(53, 52, 52);
}

.login-main-content{
    margin: 30px 0;
}

.login-button{
    font-size: 20px;
    height: 60px;
    align-items: center;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
}
.login-main-content p{
    margin-bottom: 5px;
}
.login-main-content input{
    height: 40px;
	padding: 10px 20px;
    background-color: rgb(20, 20, 20);
    border: 1px solid rgb(78, 78, 78);
}

.lmc1{
    display: flex;
}

.login-checkbox{
    align-items: center;
    position: relative;
    top: 12px;
    left: 7px;
}

.login-sub{
    border-top:  1px solid rgb(78, 78, 78);
    padding-top: 30px;
}

.login-sub-box{
    padding: 20px 0;
}

.login-sub-button{
    font-size: 20px;
    height: 60px;
    align-items: center;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 5px 0;
}

.c-bk{
    color: black;
    font-weight: 600;
}

.login-sub-contents{
    margin: 10px 0;
    text-align: center;
    font-weight: 200;
}

.login-sub-contents div{
    margin: 20px 0;
}

.login-sub-contents div p{
    margin: 5px 0;
    font-size: 16px;
}

.login-sub-contents div p a{
    text-decoration: underline;
}
/* �α��� �� */

/* -------------------------------------------------- */

/* admin */

.admin-title{
    padding: 20px 30px;
    margin: 0 auto;
}

.admin-box{
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin: 0 auto;
}

.admin-tab{
    background-color: rgb(45, 45, 45);
    padding: 5px 0;
    position: relative;
}

.admin-tab div{
    color: rgb(235, 217, 193);
    cursor: pointer;
}

.admin-tab div:active{
    background-color: rgb(172, 144, 107);
    color: white;
}

.ad-untab{
    color: white;
    width: 70%;
    position: relative;
    left: 50%;
    transform: translateX(-53%);
    transition: all 0.2s;
    opacity: 0.5;
}

.ad-untab:hover{
    opacity: 1;
    width: 95%;
}

.admin-tab div{
    height: 50px;
    margin: 5px 10px 10px 0 ;
    line-height: 50px;
    text-align: center;
}

.adminList-box{
    margin-top: 10px;
}

.adminList-box{
    padding: 20px;
    min-height: 500px;
    position: relative;
}

.adminList-table-title{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 3fr 2fr 2fr;
    margin-bottom: 15px;
    align-items: center;
}

.adminList-table-content{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 3fr 2fr 2fr;
    margin: 5px 0;
    align-items: center;
    border-bottom: 2px solid rgb(45, 45, 45);
    
}

.adminList-button button{
    padding: 5px 10px;
    margin: 0 5px;
}

.ad-off{
    display: none;
}

.adminList-search{
	margin: 0 0 20px 0;
}

.adminList-search select, .adminList-search input{
	padding: 5px 10px;
}

.adminList-search select{
	background-color: rgb(20,20,20);
	color:white;
}

.adminList-search-button{
	padding: 8.5px 10px;
}

.adminList-search-button:active{
	background-color: rgb(35,35,35);
}


/* adminView */
.adminView-title{
    border-bottom: 1px solid rgb(124, 121, 121);
    padding: 5px 0 15px 0;
}

.adminView-member-content{
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 15px 0;
    grid-column-gap: 10px;
}

.adminView-member-left{

}

.adminView-member-left div{
    padding: 28px 15px;
    text-align: right;
    align-items: center;
    border-bottom: 1px solid rgb(25, 25, 25);
}

.adminView-member-right{
    background-color: rgb(45, 45, 45);
}

.adminView-member-right div{
    background-color: rgb(45, 45, 45);
    padding: 20px 15px;
    text-align: left;
    align-items: center;
    border-bottom: 1px solid rgb(25, 25, 25);
}

.adminView-member-right div input{
	width: 100%;
	padding: 5px 10px;
}

.adminView-button{
	display: flex;
	justify-content: flex-end;
}

.adminView-button div{
	margin: 10px;
}

.adminView-button div input{
	width: 100px;
	padding: 10px;
}

.adminList-table-content2{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr 1fr 1fr 1fr;
    margin: 10px 0;
    align-items: center;
    border-bottom: 2px solid rgb(45, 45, 45);
    
}

.adminList-table-title2{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 15px;
    align-items: center;
}

/* admin �� */

/* -------------------------------------- */


/* products List */

.products{
	margin: 0 auto;
    /* height: 640px;
    overflow: hidden; */
    position: relative;
}

.products-box{
    width: 104%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px 0;
    grid-row-gap: 18px;
    position: relative;
    left:-2%;
}

.products-content-box{
    width: 100%;
    height: 530px;
    position: relative;
    
}

.products-content-box a{
	width: 100%;
    height: 530px;
    margin: 0 auto;
}

.products-content{
    margin: 0 auto;
    width: 90%;
    box-sizing: border-box;
    height: 505px;
    position: relative;
    transition: 0.2s all;
    cursor: pointer;
    vertical-align: middle;
    
    background-size:auto 100%; 
    background-position:center;
}

.products-content:hover{
    width: 95%;
    height: 528px;
    transform: translateY(-2.1%);
}

.pc-content{
    position: absolute;
    bottom: 0;
    background-color: transparent;
    width: 100%;
}

.pc-content h4, .pc-content p{
    margin: 15px 20px;
    width: 100%;
    
}

.category-tab{
	
	width: 100%;
	display: flex;
	justify-content: flex-start;
	padding-bottom:15px;
	border-bottom:1px solid rgb(78,78,78);
}

.category-tab div{
	margin: 0 15px;
	padding:10px 5px;
	cursor: pointer;
}

.category-tab div:hover{
	color: rgb(235, 217, 193);
}

.ct-tab{
	color:rgb(235, 217, 193);
	border-bottom:4px solid rgb(172, 144, 107);
	cursor: default;
}


/* products List �� */

/* products view */
/* products view left */
.products-view{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 1.1fr;
}

.products-view-main{
    float: left;
    border: 1px solid rgb(78, 78, 78);
    
}
.products-view-title{
    margin: 50px 0;
    text-align: center;
}

.pvt-top h1, .pvt-top h5{
    margin: 20px 0;
}

.pvt-top h5{
    color: darkgray;
}

.pvt-stars i{
    margin-top: 10px;
    font-size: 25px;
    color: goldenrod;
}

.pv-main-tab{
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(121, 121, 121);
}

.pv-main-tab div{
    padding: 25px 20px;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
}

.pv-main-tab div:hover{
    color: rgb(216, 190, 157);
}

.pv-tab{
    border-bottom: 3.5px solid rgb(172, 144, 107);
    color: rgb(216, 190, 157);
}

.pv-intro{
    text-align: center;
    
}

.pv-intro-top{
    width: 85%;
    margin: 25px auto;
    text-align: center;
    padding: 25px 0;
    border: 1px solid rgb(172, 144, 107);
}

.pv-intro-top h5{
    font-weight: 600;
    font-size: 17px;
}

.pv-intro-top h6{
    margin-top: 10px;
    font-size: 13px;
    color: rgb(219, 212, 212);
}

.pv-intro-text{
    text-align: center;
    padding: 120px 0 130px 0;
}

.pv-intro-text h5{
    font-size: 17px;
    color: #dcdcdc;
    margin-top: 10px;
}

/* pv-comment */
.pv-comments{
    padding: 30px;
}

.pv-comments-content{
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-column-gap: 15px;
    padding: 20px 0;
    border-top: 1px solid rgb(172, 144, 107);
}

.pv-cc-img{
    height: 95px;
    border-radius: 50%;
    overflow: hidden;
}

.pv-cc-img img{
    height:100%;
    object-fit: cover;
}


.pv-cc-text p, .pv-cc-text div{
    margin: 10px 5px;
}

.pv-cc-text p{
    font-size: 14px;
}

.pv-cc-text p strong{
    font-size: 16px;
    margin-right: 10px;
}

.pv-cc-stars{
    color: rgb(121, 121, 121);
    display: flex;
    justify-content: flex-start;
}

.pv-cc-st{
    font-size: 25px;
    margin: 0;
    color: rgb(121, 121, 121);
}
.pv-cc-st-on{
    color: goldenrod;
}

.none{
	display: none;
}

.pv-comments-button{
    width: 100%;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
}

/* modal */
.re-modal{
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    z-index: 20;
    background-color: rgb(114, 114, 114);
    top: 0;
    left: 0;
    opacity: 0.9;
    transition: 1s all;
}

.re-modal-contents{
    width: 50%;
    min-height: 300px;
    position: fixed;
    top: 50%;
    left: 40%;
    transform: translate(-50%,-40%);
    opacity: 1;
    background-color: black;
    border-radius: 4px;
    padding: 20px;
    border: 3px solid rgb(172, 144, 107);
}

.rmc-info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    margin-bottom: 20px;
}

.rmc-info h5{
    margin-right: 20px;
}

.rmc-stars{
    display: flex;
}

.star{
    color: rgb(78, 78, 78);
    font-size: 35px;
    margin-right: 5px;
    cursor: pointer;
}

.star-on{
    color: goldenrod;
}

.rmc-text{
    display: 100%;
    background-color: transparent;
}
.rmc-textarea{
    width: 100%;
    min-height: 100px;
    border-radius: 4px;
    background-color: rgb(20, 20, 20);
    padding: 10px;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    border: 1px solid rgb(172, 144, 107);
}

.rmc-button{
    display: flex;
    background-color: transparent;
    padding: 15px 0;
}

.rmc-button button, .rmc-button div{
    width: 100px;
    height: 40px;
    text-align: center;
    margin-right: 10px;
    border-radius: 4px;
    line-height: 40px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.border-main3{
    border: 1px solid rgb(172, 144, 107);
}

/* pv-del */

.pv-del{
    padding: 40px;
}

.pv-del-contents{
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(172, 144, 107);
}

.pv-del-title{
    border-bottom: 1px solid rgb(172, 144, 107);
    padding: 15px 0;
}

.pv-del-content{
    margin-top: 20px;
}

.pv-del-content p{
    margin: 15px 0;
}

.pv-promise{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15px;
}

.pv-promise div p{
    line-height: 160%;
}
/* products view left �� - ���� �� ���� */

/* products view right  */
.products-view-purchase{
    position: -webkit-sticky; 
    position: sticky;
    top:0px;
    align-self: start;
}

.sticky-on{
    padding: 20px 0;
}

.pvp-top, .pvp-bottom{
    right: 0;
    width: 90%;
    float: right;
    margin-bottom: 10px;
    border: 1px solid rgb(128, 99, 61);
    padding: 10px;
}

.products-view-purchase div::after{
    clear: both;
}

.pvp-price-box{
    padding: 20px 10px;
    border-bottom: 1px solid rgb(128, 99, 61);
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: flex-start;
}

.pvp-price-box-none{
    display: none;
}

.pvp-price-box div{
    text-align: right;
}

.pvp-price-box p{
    font-size: 14px;
}

.pvp-price-box div p{
    font-size: 12px;
    margin: 5px 0;
    line-height: 130%;
}

.pvp-select-box{
    padding: 20px 10px;
    border-bottom: 1px solid rgb(128, 99, 61);
}

.pvp-select-box div{
    margin: 10px 0;
    color:rgb(216, 190, 157);
}

.pvp-select-box div p {
    font-size: 14px;
}

.pvp-select-box div select{
    width: 100%;
    margin: 5px 0 10px 0;
    padding: 10px;
    background-color: rgb(25, 25, 25);
    color: white;
}

.pvp-price{
    padding: 20px 10px;
    border-bottom: 1px solid rgb(128, 99, 61);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pvp-price div p{
    font-size: 13px;
    color: rgb(216, 190, 157);
}

.pvp-buttons{
    padding: 10px 0;
}

.pvp-buttons div{
    margin: 10px 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    cursor: pointer;
}

.pvp-cart{
    border: 1px solid rgb(128, 99, 61);
}

.pvp-purchaseGo{
    background-color: rgb(128, 99, 61);
}

.pvp-bottom{
    padding: 20px;
}

.pvp-bottom p{
    font-size: 13px;
}

.pvp-icons{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.pvp-icons div{
    border-radius: 50%;
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: relative;
}

.pvp-icons div i{
    font-size: 22px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-button{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.menu-button div{
    background-color: transparent;
}

.menu-button-text p{
    font-size: 15px;
}

.menu-button-text h6{
    font-size: 12px;
    text-align: left;
}

.menu-button-icons{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}

.menu-button-icons p{
    margin: 0 10px;
}

.menu-button div i{
    cursor: pointer;
}

.pvp-off{
    display: none;
}

.none{
	display: none;
}

/* ------------------------ */

/* cart */

.cart-box{
    width: 100%;
    padding: 50px 0;
}

.cart-checkbox{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    align-items: center;
    border-bottom: 2px solid rgb(128, 99, 61);
}

.cart-checkbox div{
    display: flex;
    justify-content: flex-start;
}

.check-box-div{
    position: relative;
}

.check-box-div input[type="checkbox"] {
    position: absolute;
    width: 10px;
    height: 10px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
}

.another-check{
    width: 20px;
    height: 20px;
    line-height: 18px;
    content: ' ';
    background-color: rgb(211, 211, 211);
    margin-right: 10px;
    position: relative;
    top:-3px;
    cursor: pointer;
    padding: 0;
}

.another-check i{
    color: white;
    font-size: 13px;
    font-weight: 600;
    position: absolute;
    top: 4px;
    left: 3px;
}

.check-clicked{
    background-color: rgb(128, 99, 61);
}


.cart-del-button{
    margin-left: 10px;
    padding: 10px;
    border:1px solid rgb(128, 99, 61);
    font-size: 14px;
    cursor: pointer;
    background: transparent;
    color: white;
}

.no-so{
    background-color: rgb(127, 127, 127);
    border: none;
    opacity: 0.7;
    cursor: default;
}

.cart-del-button:active{
    background-color: rgb(128, 99, 61);
}

.no-so:active{
    color: white;
    background-color: rgb(127, 127, 127);
}


.cart-list-box{
    width: 100%;
}

.cart-list-top{
    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
    border-bottom: 1px solid rgb(78, 78, 78);
}

.cart-list-top div{
    text-align: center;
    padding: 25px;
}

.cart-list-content{
    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
    border-bottom: 1px solid rgb(78, 78, 78);
}


.clc-info{
    display: grid;
    grid-template-columns: 1fr 4fr 8fr 1fr;
}

.clc-child {
    padding: 15px 20px;
}

.clc-child img{
    height: 115px;
    object-fit: cover;
}

.clc-child h5{
    margin: 25px 0 10px 0;
}

.clc-checks input[type="checkbox"] {
    position: absolute;
    width: 10px;
    height: 10px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
}

.clc-option{
    border-left: 1px solid rgb(78, 78, 78);
    border-right: 1px solid rgb(78, 78, 78);
}

.clc-x-button{
    font-size: 20px;
    text-align: end;
    cursor: pointer;
}

.clc-del-op{
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid rgb(78, 78, 78);
}

.clc-op-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clc-op-buttons{
    padding: 15px 0;
    display: flex;
    justify-content: flex-start;
}

.clc-op-buttons div{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid rgb(128, 99, 61);
    cursor: pointer;
}

.clc-op-price{
    font-weight: 700;
}

.clc-price{
    position: relative;
}

.clc-price-content{
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.clc-price-button{
    padding: 10px 20px;
    margin-top: 10px;
    color: white;
}

.clc-price-content h3{
    font-size: 20px;
    font-weight: 700;
}

.price-box{
    width: 100%;
    margin-top: 50px;
    border-top: 2px solid rgb(128, 99, 61);
    border-bottom: 2px solid rgb(128, 99, 61);
    padding: 30px;
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.price-box div{
    text-align: center;
}

.pb-calculate{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pb-calculate div{
    margin: 0 20px;
    margin-top: 10px;
}

.pb-pd-price p, .pb-del-price p{
    position: relative;
    top:-10px;
}


.pb-plus{
    position: relative;
    top:10px;
}

.pb-price{
    border-left: 1px solid rgb(78, 78, 78);
}

.pb-price h5{
    position: relative;
    top: -5px;
    margin-bottom: 10px;
}

.total_button_div{
    width: 100%;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.total_button{
    width: 25%;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    font-size: 25px;
    letter-spacing: 2px;
    cursor: pointer;
    color: white;
}
/* cart�� */

/* ------------------------------- */

/* buy */
.buy{
    padding: 50px 0;
}

.buy-box{
    margin: 0 auto;
    padding: 30px;
}

.buy-title{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.buy-title p{
    margin-left: 10px;
    margin-top: 5px;
}

.buy-ing {
    border: 1px solid rgb(172, 144, 107);
    padding: 50px 0;
    width: 100%;
}

.buy-ing-box{
    width: 50%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 1fr 3fr 1fr 2fr;
    text-align: center;
    align-items: center;
}

.buy-ing-arrow{
    font-size: 20px;
    font-weight: 700;
    opacity: 0.6;
}

.buy-ing-num{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.bin-num{
    width: 35px;
    height: 35px;
    line-height: 33px;
    border: 1px solid rgb(172, 144, 107);
    border-radius: 50%;
    margin-right: 15px;
    font-size: 20px;
}

.bin-text{
    font-size: 20px;
}

.buy-menu{
    width: 100%;
    margin-top: 30px;
}

.buy-menu-title h4{
    font-weight: 200;
}

.buy-menu-col{
    margin-top: 15px;
    padding: 20px 0;
    border-top: 1px solid rgb(128, 99, 61);
    border-bottom: 1px solid rgb(128, 99, 61);
    color: rgb(235, 217, 193);
}

.buy-menu-col{
    display: grid;
    grid-template-columns: 2fr 3fr 1fr 2fr 3fr;
    text-align: center;
}

.buy-menu-list{
}

.buy-menu-content{
    display: grid;
    grid-template-columns: 2fr 3fr 1fr 2fr 3fr;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid rgb(128, 99, 61);
    padding: 20px 0;
}

.buy-menu-price{
    padding: 10px 0;
    border-bottom: 1px solid rgb(128, 99, 61);
    align-items: center;
}

.buy-menu-price{
    display: flex;
    justify-content: flex-end;
}

.buy-menu-price div{
    display: flex;
    
    align-items: center;
}

.bmp-left{
    justify-content: flex-end;
    font-size: 15px;
    font-weight: 300;
    padding: 10px 35px;
    letter-spacing: 2px;
}

.bmp-left div{
    margin: 0 10px;
}

.bmp-left div span{
    margin-left: 10px;
}

.bmp-right{
    border-left: 1px solid rgb(128, 99, 61);
    justify-content: center;
    padding: 10px 35px;
    align-items: center;
}

.bmp-right-p{
    font-size: 20px;
}

.bmp-right-price{
    font-size: 30px;
    margin-left: 15px;
    letter-spacing: 2px;
}

.buy-info{
    width: 100%;
    margin-top: 50px;
}

.border-btm{
    border-bottom: 1px solid rgb(128, 99, 61);
}

.buy-info-buyer{
    width: 100%;
    padding: 30px 0;
}

.bib-title{
    font-size: 17px;
    padding: 20px 0;
}

.bib-content{
    display: grid;
    grid-template-columns: 1fr 3fr 4fr;
    align-items: center;
    
    padding: 0;
}

.bib-content div{
    height: 70px;
    align-items: center;
    border-bottom: 1px solid rgb(128, 99, 61);
    padding: 0 20px;
    line-height: 70px;
}

.bib-c-input input{
    height: 50px;
    width: 100%;
    padding: 10px;
    font-weight: 200;
}

.bib-c-phone{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.bib-c-phone input{
    width: 30%;
    height: 50px;
    padding: 10px;
    font-weight: 200;
}

.bib-c-text{
    font-size: 14px;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.bib-c-radio input[type=radio]{
    width: 15px;
    height: 15px;
    margin-right: 10px;
    margin-left: 20px;
    position: relative;
    top: 2px;
}

.bib-addr{
    display: grid;
    grid-template-columns: 1fr 7fr;
}

.bib-c-text-box{
    width: 100%;
    height: 300px;
    display: block;
}

.bib-c-text-box input{
    display: block;
    height: 50px;
    width: 80%;
    margin: 10px 0;
    padding: 10px;
}

.bib-addr-search{
    width: 20%;
    height: 50px;
    margin: 10px 0;
    border-radius: 4px;
    line-height: 50px;
    color: white;
    text-align: center;
}

.bib-c-text-box input[type=checkbox]{
    height: 15px; width: 15px;
    text-align: left;
    display: inline-block;
    margin-right:10px;
    margin-top:10px;
}

.bib-c-text-box p{
    height:25px;
    font-size: 14px;
    font-weight: 200;
    color: rgb(235, 217, 193);
}

.bib-c-text-box textarea{
    width: 80%;
    height: 100px;
    background-color: rgb(20, 20, 20);
    padding: 10px;
}

.bib-c-text-box input:disabled::placeholder{
    color: rgb(124, 121, 121);
}

.buy-perchase-price{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 20px 0;
    border-bottom: 1px solid rgb(128, 99, 61);
}

.bpp-left{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
}

.bpp-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.bpp-right p{
    margin-right: 10px;
    font-weight: 200;
}

.bpp-right h1{
    letter-spacing: 1px;
}

.buy-purchase-tool{
    display: grid;
    grid-template-columns: 1fr 7fr;
}

.buy-purchase-tool div{
    padding: 30px 0 30px 20px;
    border-bottom: 1px solid rgb(128, 99, 61);
}

.bpt-title{
    padding-left: 20px;
}

.bpt-right label{
    margin: 0 20px 0 5px;
}

.buy-agree{
    padding: 20px;
}

.buy-agree-contents input[type=checkbox]{
    margin-right: 10px;
}

.buy-agree-check input[type=checkbox]{
    margin-right: 10px;
}

.buy-agree-check{
    margin: 20px 0;
}

.buy-button-div{
    text-align: center;
}

.buy-button-div div{
    font-size: 18px;
    width: 25%;
}

.bb-border-sub{
    margin: 0 auto;
    margin-top: 50px;
}

.bb-border{
    margin: 20px auto 50px auto;
    padding: 20px;
    border: 1px solid rgb(128, 99, 61);
}

.buy-button{
    margin: 10px auto;
    padding: 20px;
    width: 25%;
    text-align: center;
    cursor: pointer;
    color: white;
    font-size: 20px;
}
/* buy�� */

/* ���ֺκ� */
/* board */

.board{
    padding: 50px 0;
}

.board-box{
    margin: 0 auto;
    padding: 20px;
}

.board-top{

}

.board-top-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid rgb(78, 78, 78);
}

.board-back{
    border: 1px solid rgb(128, 99, 61);
    padding: 10px 20px;
}

.bti-info{
    display: flex;
    justify-content: flex-start;
}

.bti-info div{
    margin-right: 15px;
}

.board-back{
    cursor: pointer;
}

.board-back:active{
    background-color: rgb(128, 99, 61);
}

.board-top-contents{
}

.board-top-title{
    padding: 20px 0;
}

.board-top-content{
    min-height: 300px;
    padding: 20px;
}

.board-top-content div{
    background-color: transparent;
}

.board-bottom{
    margin-top: 50px;
}

.board-bottom-write{
    width: 100%;
}

.bbw-content{
    width: 100%;
}

.bbw-content textarea{
    width: 100%;
    height: 120px;
    background-color: rgb(20, 20, 20);
    padding: 20px;
    color: rgb(216, 190, 157);
    letter-spacing: 1px;
    word-spacing: 1px;
}

.bbw-button-div{
    width: 100%;
    padding: 20px 0;
    text-align: right;
}

.bbw-button{
    padding: 15px 50px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
}

.board-reply{
    padding: 20px 0;
    border-top: 1px solid rgb(78, 78, 78);
}

.board-reply-title{
    padding: 0 0 20px 0;
    font-size: 18px;
}

.brt-list{
    background-color: transparent;
}

.brt-list li{
    background-color: transparent;
    color: white;
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    padding: 10px 0;
    border-bottom: 1px solid rgb(78, 78, 78);
    grid-column-gap: 20px;
    align-items: center;
}

.reply-delete{
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    background-color: rgb(160, 0, 0);
}

.reply-delete:active{
    background-color: rgb(194, 0, 0);
}
/* board-detail �� */

/* board-List */
.boardList{
    margin: 0 auto;
}

.boardList-box{
    width: 100%;
    
}

.boardList-list{
    width: 100%;
    background-color: transparent;
}

.boardList-contents{
    width: 100%;
    padding: 0 20px;
    border-bottom: 1px solid rgb(78, 78, 78);
}

.boardList-list-title{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 7fr 2fr;
    align-items: center;
    background-color: transparent;
    border-bottom: 1px solid rgb(78, 78, 78);
    padding: 10px 20px;
    font-size: 18px;
    padding-bottom: 30px;
}


.boardList-content{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 7fr 2fr;
    align-items: center;
    background-color: transparent;
    
    padding: 10px 0;
    
}

.boardList-content:hover{
    color: white;
}

.boardList-contents-title:hover{
    color: rgb(216, 190, 157);
}

.boardList-write{
    width: 100%;
    padding: 20px 0;
    text-align: center;
    cursor: pointer;
    margin: 20px 0;
}

.boardList-pagination{
    margin: 30px auto 50px auto;
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.pagi-disabled a{
    color: rgb(78, 78, 78);
    cursor: default;
}

.boardList-pagination div{
    padding: 10px;
    border: 1px solid rgb(128, 99, 61);
    border-radius: 4px;
}

/* board-insert */
.board-insert-box{
    width: 100%;
}

.board-insert-box div{
    margin: 20px 0;
}

.board-insert-box div p{
    margin-bottom: 10px;
}

.board-insert-input{
    width: 100%;
    border-radius: none;
    padding: 10px;
    border: 1px solid rgb(128, 99, 61);
    background-color: rgb(20, 20, 20);
    color: rgb(216, 190, 157);
}

.board-insert-button button{
    padding: 10px;
    margin-right: 10px;
    width: 150px;
    border: 1px solid rgb(128, 99, 61);
    color: white;
}

.bib-cancel:active{
    background-color: rgb(128, 99, 61);
}

/* buy-result */

.buyResult{
    padding: 50px;
}

.buyResult-title{
    padding: 0 5px;
    width: 40%;
    background-color: transparent;
    margin: 0px auto;
    font-size: 20px;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brt-right{
    font-size: 15px;
    font-weight: 200;
}

.buyResult-box{
    margin: 0 auto;
    width: 40%;
    background-color: transparent;
}

.brb{
    box-shadow: 1px 1px 5px black;
    padding:15px;
    margin: 20px 0;
    border-radius: 3px;
}

.brb-title{
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.brb-title p{
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 20px;
}

.brb div div{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.brb div div p{
}

.brb-final{
    border-top: 1px solid rgb(78, 78, 78);
    padding-top: 15px;
}

.brb-price-contents, .brb-final, .brb-del-contents{
    margin-top: 20px;
}

.brb-del-contents p{
    margin: 10px 10px 10px 0;
}

#buy-request::before{
    content: '|';
    position: relative;
    font-size: 10px;
    left: -5px;
    top: -2px;
    color: rgb(121, 121, 121);
}

.brb-del-contents{
    display: flex;
    justify-content: flex-start;
}

#buy-del-date{
    margin-left: 15px;
    font-weight: 200;
}

#buy-del-date::before{
    content: '|';
    position: relative;
    font-size: 10px;
    left: -5px;
    top: -2px;
    color: rgb(121, 121, 121);
}

.brb-product{
    box-shadow: 1px 1px 5px black;
    padding:15px;
    margin: 20px 0;
    border-radius: 3px;
}

.brb-product-contents{
    margin-top: 20px;
}

.brb-product-content{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 30px;
    margin-top: 30px;
}

.brb-product-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 400;
}

.brb-product-text p span{
    margin-left: 20px;
    color: rgb(105, 105, 105);
}

.brb-buttons{
    width: 100%;
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    text-align: center;
    margin-top: 20px;
}

.brb-back{
    border-radius: 3px;
    cursor: pointer;
    padding: 15px;
    border: 1px solid rgb(78, 78, 78);
}

.brb-back:active{
    background-color: rgb(78, 78, 78);
}

.brb-del-search{
    border-radius: 3px;
    cursor: pointer;
    padding: 15px;
    border: 1px solid rgb(128, 99, 61);
}

.brb-del-search:active{
    background-color: rgb(128, 99, 61);
}

.last-button:active{
    background-color: rgb(78, 78, 78);
}

.last-button{
    cursor: pointer;
    width: 100%;
    margin: 20px 0;
    padding: 15px 0;
    text-align: center;
    border: 1px solid rgb(78, 78, 78);
    border-radius: 3px;
}

/* myPage */
.myPage{
    padding: 50px;
}

.myPage-box{
    margin: 0 auto;
    max-width: 45%;
    background-color: transparent;
}

.myPage-title{
    margin: 0 auto;
    max-width: 45%;
    padding: 40px 2% 40px 2%;
    margin-bottom: 15px;
}

.myPage-title p{
    font-size: 25px;
    margin-bottom: 15px;
}

.myPage-title input{
    width: 86%;
    padding: 10px 20px;
    border: 1px solid rgb(78, 78, 78);
    border-radius: 3px;
}

.myPage-content-box{
    width: 100%;
    padding: 20px 5%;
    margin-bottom: 20px;
    box-shadow: 1px 1px 5px black;
}

.myPage-content{
    width: 100%;
    border-radius: 3px;
    margin-bottom: 20px;
}

.myPage-content-main{
    padding: 20px;
    border: 1px solid rgb(172, 144, 107);
    border-radius: 3px;
}

.myPage-content-top{
    display: flex;
    justify-content: space-between;
    padding:10px 0px 15px 0px;
    align-items: center;
}

.mcm-del-date{
    padding-bottom: 15px;
    font-size: 20px;
}

.mcm-main{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 20px;
    align-items: center;
}

.mcm-main-text{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
}

.mcm-main-sub{
    display: flex;
    justify-content: space-between;
}

.mcm-buttons{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    text-align: center;
}

.mmb-cancel{
    border: 1px solid rgb(78, 78, 78);
    border-radius: 3px;
    padding: 10px 0;
    cursor: pointer;
}

.mmb-search{
    border: 1px solid rgb(128, 99, 61);
    border-radius: 3px;
    padding: 10px 0;
    cursor: pointer;
}

.mmb-cancel:active{
    background-color: rgb(78, 78, 78);
}
.mmb-search:active{
    background-color: rgb(128, 99, 61);
}

.myPage-review{
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    border: 1px solid rgb(172, 144, 107);
    border-radius: 3px;
    padding: 10px 0;
}

.myPage-review:active{
    background-color: rgb(172, 144, 107);
}

.mct-view{
    cursor: pointer;
    font-weight: 200;
    font-size: 14px;
}

.mct-date{
    font-size: 18px;
}

.mct-view:hover{
    color: rgb(172, 144, 107);
}

.mcm-cart-button{
    cursor: pointer;
    border: 1px solid rgb(78, 78, 78);
    border-radius: 3px;
    padding: 7px 10px;
    background-color: transparent;
    color: white;
}

.mcm-cart-button:active{
    background-color: rgb(78, 78, 78);
}
