<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.zero.project.mapper.AdminMemberMapper">

<sql id="criteria">
	<trim prefix="(" suffix=") AND " prefixOverrides="OR">
		<foreach collection="typeArr" item="type">
			<trim prefix="OR">
				<choose>
					<when test="type == 'T'.toString() ">
						member_id like '%'||#{keyword}||'%'
					</when>
					<when test="type == 'C'.toString() ">
						member_name like '%'||#{keyword}||'%'
					</when>
					<when test="type == 'W'.toString() ">
						member_address like '%'||#{keyword}||'%'
					</when>					
				</choose>
			</trim>
		</foreach>
	</trim>
</sql>
  
  
  <select id="getList" resultType="com.zero.project.model.MemberVO">
  	select * from member where member_no > 0
  </select>
  
  <select id="getMember" resultType="com.zero.project.model.MemberVO">
  	select * from member where member_no = #{member_no}
  </select>
  
  <update id="modify">
  	update member
	set member_id=#{member_id},
		member_name=#{member_name},
		member_address_no=#{member_address_no},
		member_address=#{member_address},
		member_address_detail=#{member_address_detail},
		member_reference=#{member_reference}
		where member_no=#{member_no}		
  </update>
  
  <delete id="remove">
  	delete from member where member_no=#{member_no}
  </delete>
  
  <select id="getListWithPaging" resultType="com.zero.project.model.MemberVO">
  <![CDATA[
  	select
  		member_no, member_id, member_name, member_address, member_regdate
  	from
  		(
       select /*+INDEX_DESC(member pk_member) */
         rownum rn, member_no, member_id, member_name, member_address, member_regdate
       from 
         member
      where 
     ]]> 
     <include refid="criteria"></include> 
    <![CDATA[ 
    rownum <= #{pageNum} * #{amount}
      )
  where rn > (#{pageNum} -1) * #{amount}   
  ]]>
  </select>
  
  <select id="getTotalCount" resultType="int">
  	select count(*) from member where
  	<include refid="criteria"></include>
  	member_no > 0
  </select>
  
</mapper>